$black: #24221F;
$white: #fff;
$grey: #606362;
$lightgrey: lighten($grey, 30%);
$red: #e94428;
$green: #14d976;
$blue: blue;
$orange: orange;
$gold: #F6E497;

///

$body_background_color: darken($white, 25%);;
$body_background_image: none;

$headline-font: 'myfontbold', serif;
$headline-weight: 700;

$body-font: 'myfont', serif;
$body-weight: 300;
$body-text-color: $black;
